@import 'main'
@import '_layout/animation'
@import '_layout/modyfi'
@import '_highlight/codeFrame'
@import '_highlight/theme'
@import '_highlight/diff'

@font-face
  font-family 'VarelaRound'
  src url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/VarelaRound-Regular.ttf')
