
<% if (theme.reward && !index){ %>
    <% if (post.reward==null||post.reward){ %>
<div class="page-reward">
    <a href="javascript:;" class="page-reward-btn tooltip-top">
        <div class="tooltip tooltip-east">
            <span class="tooltip-item">
              赏
            </span>
            <span class="tooltip-content">
              <span class="tooltip-text">
                <span class="tooltip-inner">
                  <p class="reward-p"><i class="fas fa-quote-left"></i><%= theme.reward_wording%><i class="fas fa-quote-right"></i></p>
                  <div class="reward-box">
                      <% if(theme.alipay) {%>
                      <div class="reward-box-item">
                          <img class="reward-img" src="<%= theme.alipay%>">
                          <span class="reward-type">支付宝</span>
                      </div>
                      <% } %>
                      <% if(theme.weixin) {%>
                      <div class="reward-box-item">
                          <img class="reward-img" src="<%= theme.weixin%>">
                          <span class="reward-type">微信</span>
                      </div>
                      <% } %>
                  </div>
                </span>
              </span>
            </span>
        </div>
    </a>
</div>
<% } %>
<% } %>