/*放大缩小动画*/
@-moz-keyframes announ_animation 
  0%, to 
    -webkit-transform scale(1) 
    -moz-transform scale(1) 
    -o-transform scale(1) 
    -ms-transform scale(1) 
    transform scale(1)
  50% 
    -webkit-transform scale(1.2) 
    -moz-transform scale(1.2) 
    -o-transform scale(1.2) 
    -ms-transform scale(1.2) 
    transform scale(1.2)
@-webkit-keyframes announ_animation 
  0%, to 
    -webkit-transform scale(1) 
    -moz-transform scale(1) 
    -o-transform scale(1) 
    -ms-transform scale(1) 
    transform scale(1)
  50% 
    -webkit-transform scale(1.2) 
    -moz-transform scale(1.2) 
    -o-transform scale(1.2) 
    -ms-transform scale(1.2) 
    transform scale(1.2)
@-o-keyframes announ_animation 
  0%, to 
    -webkit-transform scale(1) 
    -moz-transform scale(1) 
    -o-transform scale(1) 
    -ms-transform scale(1) 
    transform scale(1)
  50% 
    -webkit-transform scale(1.2) 
    -moz-transform scale(1.2) 
    -o-transform scale(1.2) 
    -ms-transform scale(1.2) 
    transform scale(1.2)
@keyframes announ_animation 
  0%, to 
    -webkit-transform scale(1) 
    -moz-transform scale(1) 
    -o-transform scale(1) 
    -ms-transform scale(1) 
    transform scale(1)
  50% 
    -webkit-transform scale(1.2) 
    -moz-transform scale(1.2) 
    -o-transform scale(1.2) 
    -ms-transform scale(1.2) 
    transform scale(1.2) 
  
/*右侧栏搜索动画*/
@-webkit-keyframes leftIn
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translateZ(0)
    transform translateZ(0)
  60%
    -webkit-transform translate3d(358px, 0, 0)
    transform translate3d(358px, 0, 0)
  75%
    -webkit-transform translate3d(323px, 0, 0)
    transform translate3d(323px, 0, 0)
  90%
    -webkit-transform translate3d(338px, 0, 0)
    transform translate3d(338px, 0, 0)
  to
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)
@keyframes leftIn
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translateZ(0)
    transform translateZ(0)
  60%
    -webkit-transform translate3d(358px, 0, 0)
    transform translate3d(358px, 0, 0)
  75%
    -webkit-transform translate3d(323px, 0, 0)
    transform translate3d(323px, 0, 0)
  90%
    -webkit-transform translate3d(338px, 0, 0)
    transform translate3d(338px, 0, 0)
  to
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)

/*展开*/

@-webkit-keyframes smallLeftIn
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translateZ(0)
    transform translateZ(0)
  60%
    -webkit-transform translate3d(325px, 0, 0)
    transform translate3d(325px, 0, 0)
  75%
    -webkit-transform translate3d(290px, 0, 0)
    transform translate3d(290px, 0, 0)
  90%
    -webkit-transform translate3d(305px, 0, 0)
    transform translate3d(305px, 0, 0)
  to
    -webkit-transform translate3d(300px, 0, 0)
    transform translate3d(300px, 0, 0)
@keyframes smallLeftIn
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translateZ(0)
    transform translateZ(0)
  60%
    -webkit-transform translate3d(325px, 0, 0)
    transform translate3d(325px, 0, 0)
  75%
    -webkit-transform translate3d(290px, 0, 0)
    transform translate3d(290px, 0, 0)
  90%
    -webkit-transform translate3d(305px, 0, 0)
    transform translate3d(305px, 0, 0)
  to
    -webkit-transform translate3d(300px, 0, 0)
    transform translate3d(300px, 0, 0)

/*收回动画*/
@-webkit-keyframes leftOut
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)
  60%
    -webkit-transform translate3d(-25px, 0, 0)
    transform translate3d(-25px, 0, 0)
  75%
    -webkit-transform translate3d(10px, 0, 0)
    transform translate3d(10px, 0, 0)
  90%
    -webkit-transform translate3d(-5px, 0, 0)
    transform translate3d(-5px, 0, 0)
  to
    -webkit-transform translateZ(0)
    transform translateZ(0)
@keyframes leftOut
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)
  60%
    -webkit-transform translate3d(-25px, 0, 0)
    transform translate3d(-25px, 0, 0)
  75%
    -webkit-transform translate3d(10px, 0, 0)
    transform translate3d(10px, 0, 0)
  90%
    -webkit-transform translate3d(-5px, 0, 0)
    transform translate3d(-5px, 0, 0)
  to
    -webkit-transform translateZ(0)
    transform translateZ(0)


/*未知*/

@-webkit-keyframes smallleftOut
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)
  60%
    -webkit-transform translate3d(-25px, 0, 0)
    transform translate3d(-25px, 0, 0)
  75%
    -webkit-transform translate3d(10px, 0, 0)
    transform translate3d(10px, 0, 0)
  90%
    -webkit-transform translate3d(-5px, 0, 0)
    transform translate3d(-5px, 0, 0)
  to
    -webkit-transform translateZ(0)
    transform translateZ(0)
@keyframes smallleftOut
  0%, 60%, 75%, 90%, to
    -webkit-animation-timing-function cubic-bezier(.215, .61, .355, 1)
    animation-timing-function cubic-bezier(.215, .61, .355, 1)
  0%
    -webkit-transform translate3d(333px, 0, 0)
    transform translate3d(333px, 0, 0)
  60%
    -webkit-transform translate3d(-25px, 0, 0)
    transform translate3d(-25px, 0, 0)
  75%
    -webkit-transform translate3d(10px, 0, 0)
    transform translate3d(10px, 0, 0)
  90%
    -webkit-transform translate3d(-5px, 0, 0)
    transform translate3d(-5px, 0, 0)
  to
    -webkit-transform translateZ(0)
    transform translateZ(0)